.login{
    display: grid;
    place-items: center;
    background-color: black;
    height: 100vh;
}
.login img{
    width:100%;

}
.login a
{
    color:white;
    padding-left:18px;
    padding-right:18px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
}